# VARIABLES

In [12]:
print(y)

This is a string

In [13]:
print(x)

69

In [1]:
# Assign int value to a variable
x = 69
print(x)
type(x)

69

int

In [15]:
# Assign string value in a variable
y = 'hello'
print(y)
type(y)

hello

str

In [8]:
type(x)

int

In [9]:
type(y)

str

In [10]:
print(x)

69

In [11]:
print(y)

This is a string

In [ ]:
# The value assigned to the variable will be stored and can be called anywhere in the workbook

In [16]:
# Overide the previous variable
y = 'hi'
print(y)

hi

In [17]:
# Variables are case-sensitive
Y = 'yo!'
print(y)
print(Y)

hi
yo!

In [33]:
# Assign multiple values to multiple variables at once
x,y,z = 'Aiah','Mikha','Sheena'
print(x)
print(y)
print(z)
print(x,y)
print('My biases in bini:',x ,',', y, ',', z)

Aiah
Mikha
Sheena
Aiah Mikha
My biases in bini: Aiah , Mikha , Sheena

In [31]:
# Assign one value to multiple variables at once
x = y = z = 'Mabuhay and we are bini'
print(x)
print(y)
print(z)

Mabuhay and we are bini
Mabuhay and we are bini
Mabuhay and we are bini

In [36]:
# Assing list to a variable
other_bini_members = ['Colet','Jhoanna', 'Stacey', 'Gwen', 'Maloi']
a, b, c, d, e = other_bini_members
print(a)
print(b)
print(c)
print(d)
print(e)

Colet
Jhoanna
Stacey
Gwen
Maloi

In [40]:
# Naming variables

# Camel Case
testVariableCase = 'eyyKaMuna'
print(testVariableCase)

# Pascal Case
TestVariableCase = 'EyyKaMuna'
print(TestVariableCase)

# Snake Case
test_variable_case = 'eyy_ka_muna'
print(test_variable_case)

eyyKaMuna
EyyKaMuna
eyy_ka_muna

In [43]:
# Operators in variable. + for string concatenation
x = 'Ice Cream is my favorite' + ' love joy hope'
print(x)

Ice Cream is my favorite love joy hope

In [44]:
# We cannot concateate str and number
x = 'Hello' + 69
print(x)

TypeError: can only concatenate str (not "int") to str

In [46]:
# We can use operator if same number data type
x = 10 + 20
print(x)

30

In [50]:
# Concatenate multiple strings and multiple numbers
a = 'hi'
b = ' hey'
c = ' hello'
print(a+b+c)

e = 5
f = 2
g = 3
print(e+f+g)

hi hey hello
10

In [51]:
# Concatenate stg and num using ,
x = 'yo'
y = 0
print(x,y)

yo 0