# FUNCTIONS

In [8]:
# Example
def first_func():
    print("My First Function")

In [9]:
first_func()

My First Function

#### ARGUMENTS

In [15]:
# 1 argument
def num_squared(num):
    print(num ** 2)

# Calling the function
num_squared(5)

25

In [13]:
# Multiple arguments
def num_squared_cust(num, power):
    print(num ** power)


num_squared_cust(5,3)

125

In [17]:
# Can work with any data type
def my_name(name):
    print(name)

my_name('Kath')

Kath

#### Arbitrary Positional Argument

In [22]:
#. The arguments are treated as tuples.
def number_args(*number):
    print(number[0] * number[1])

number_args(5,6,1,2,8)

30

In [21]:
# Using tuple as argument
args_tuple = (5,6,1,2,8)

number_args(*args_tuple)

30

#### Keyword Argument

In [24]:
def num_squared_cust(number, power):
    print(number ** power)
    
num_squared_cust(power = 5, number = 3)

243

#### Arbitrary Keyword Argument

In [2]:
# The output of arbitraty keyword argument is a dictionary
def num_kwarg(**number):
    print(number)

num_kwarg(integer = '2309', integer2 = '349')

{'integer': '2309', 'integer2': '349'}

In [1]:
def num_kwarg(**number):
    print('My first number is: ' +  number['integer'] + '\nMy other number is: ' + number['integer2'])

num_kwarg(integer = '2309', integer2 = '349')

My first number is: 2309
My other number is: 349