# CONVERTING DATA TYPES

#### Converting String to Integer

In [3]:
# int
num_int = 7
type(num_int)

int

In [4]:
# stg
num_stg = '7'
type(num_stg)

str

In [6]:
# Cannot add num_int and num_stg. Converting string to integer:
num_stg_conv = int(num_stg)
type(num_stg_conv)

int

In [7]:
# Add num_int and the converted stg
num_sum = num_int + num_stg_conv
print(num_sum)

14

#### Converting List to Tuple

In [8]:
# List
list_type = [1,2,3]
type(list_type)

list

In [9]:
print(list_type)

[1, 2, 3]

In [11]:
# Converting to tuple
tuple_type = tuple(list_type)
type(tuple_type)

tuple

In [12]:
print(tuple_type)

(1, 2, 3)

#### Converting List to Set

In [13]:
# Converting a list to a set removes duplicate values and keep only distinct elements.
list_type2 = [1,2,3,2,3,4,1,1,2,3,4,1]
type(list_type2)

list

In [17]:
# Converting to set
set_type = set(list_type2)
type(set_type)

set

In [18]:
print(set_type)

{1, 2, 3, 4}

#### Converting Dictionary to a List

In [21]:
# Example
dict_type = {'Name':'Hanabi', 'Age':20, 'Role':'Marksman'}
type(dict_type)

dict

In [20]:
dict_type.items()

dict_items([('Name', 'Hanabi'), ('Age', 20), ('Role', 'Marksman')])

In [23]:
dict_type.keys()

dict_keys(['Name', 'Age', 'Role'])

In [22]:
dict_type.values()

dict_values(['Hanabi', 20, 'Marksman'])

In [30]:
# Converting dictionary to list
dict_to_list = list(dict_type.values())
print(dict_to_list)

['Hanabi', 20, 'Marksman']

In [31]:
dict_to_list = list(dict_type.keys())
print(dict_to_list)

['Name', 'Age', 'Role']

In [32]:
type(dict_to_list)

list

#### Converting longer Strings

In [33]:
long_str = 'Hi! My name is Kath'

In [34]:
type(long_str)

str

In [37]:
# Converting to list
long_str_list = list(long_str)
print(long_str_list)

['H', 'i', '!', ' ', 'M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'K', 'a', 't', 'h']

In [38]:
# Converting to list
long_str_set = set(long_str)
print(long_str_set)

{'!', 'n', 't', 'a', 's', 'i', 'm', 'e', 'M', 'y', 'K', ' ', 'h', 'H'}