# GROUP BY AND AGGREGATING

In [11]:
# IMPORT PANDAS LIBRARY
import pandas as pd

In [12]:
# READ IN FILE
df = pd.read_csv(r"C:\Users\kathm\OneDrive\Desktop\DataAnalystBootCamp\Python\pandas\Flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [13]:
# Performing group by in the 'Base Flavor' column
group_by_frame = df.groupby('Base Flavor')

In [15]:
# Getting the mean 
group_by_frame.mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [18]:
# Alternatively
df.groupby('Base Flavor').mean(numeric_only = True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [21]:
# Getting the count
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [52]:
df.groupby('Base Flavor').size()

Base Flavor
Chocolate    3
Vanilla      6
dtype: int64

In [22]:
# Getting the Min value
df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [23]:
# Getting the Max value
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [25]:
# Getting the sum
df.groupby('Base Flavor').sum(numeric_only= True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [32]:
# Getting multiple agg functions at once
df.groupby('Base Flavor').agg({'Flavor Rating':['mean', 'max','count','sum'], 'Texture Rating':['mean','max', 'count','sum']})

            Flavor Rating                   Texture Rating
                     mean   max count   sum           mean  max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2       7.233333  7.6     3  21.7
Vanilla               5.7  10.0     6  34.2       5.650000  8.0     6  33.9

In [34]:
# Grouping by multiple columns
df.groupby(['Base Flavor','Liked']).mean(numeric_only = True)

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [37]:
# Grouping by multiple columns and getting multiple agg functions at once
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating':['mean','max','count','sum'],'Texture Rating':['mean','max','count','sum']})

                  Flavor Rating                   Texture Rating             \
                           mean   max count   sum           mean  max count
Base Flavor Liked
Chocolate   Yes             8.4   8.8     3  25.2       7.233333  7.6     3
Vanilla     No              3.6   4.7     3  10.8       4.466667  5.0     3
            Yes             7.8  10.0     3  23.4       6.833333  8.0     3


                    sum
Base Flavor Liked
Chocolate   Yes    21.7
Vanilla     No     13.4
            Yes    20.5

In [49]:
pd.set_option('display.max_columns', None)

In [51]:
# To get a summary of statistics
df.groupby(['Base Flavor','Liked']).describe()

                  Flavor Rating                                             \
                          count mean       std  min   25%  50%   75%   max
Base Flavor Liked
Chocolate   Yes             3.0  8.4  0.346410  8.2  8.20  8.2  8.50   8.8
Vanilla     No              3.0  3.6  1.212436  2.3  3.05  3.8  4.25   4.7
            Yes             3.0  7.8  1.915724  6.5  6.70  6.9  8.45  10.0

                  Texture Rating                                            \
                           count      mean       std  min   25%  50%   75%
Base Flavor Liked
Chocolate   Yes              3.0  7.233333  0.321455  7.0  7.05  7.1  7.35
Vanilla     No               3.0  4.466667  0.923760  3.4  4.20  5.0  5.00
            Yes              3.0  6.833333  1.040833  6.0  6.25  6.5  7.25

                       Total Rating                                          \
                   max        count       mean       std   min    25%   50%
Base Flavor Liked
Chocolate   Yes    7.6          3.0  15.700000  0.781025  15.2  15.25  15.3
Vanilla     No     5.0          3.0   8.066667  2.098412   5.7   7.25   8.8
            Yes    8.0          3.0  14.633333  2.950141  12.5  12.95  13.4


                     75%   max
Base Flavor Liked
Chocolate   Yes    15.95  16.6
Vanilla     No      9.25   9.7
            Yes    15.70  18.0